<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="portmone" translate="label" type="text" sortOrder="-1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Portmone</label>
                <comment><![CDATA[Сервис проведения платежей обеспечивается системой Portmone.com с использованием современного и безопасного механизма авторизации платежных карт. Служба поддержки Portmone.com: телефон +380(44)200 09 02, электронная почта: support@portmone.com]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex portmone-section</fieldset_css>

                <attribute type="activity_path">payment/braintree/active</attribute>
                <attribute type="displayIn">recommended_solutions</attribute>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Включить прием оплаты через Portmone</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Название способа оплаты</label>
                </field>
                <field id="payee_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Идентификатор магазина в системе Portmone(Payee ID)</label>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Логин Интернет-магазина в системе Portmone</label>
                </field>
                <field id="test_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Пароль Интернет-магазина в системе Portmone</label>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Новый статус заказа</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                </field>
                <field id="payment_success_order_status" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Статус заказа после успешной оплаты</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                </field>
                <field id="payment_error_order_status" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Статус заказа после неудачной оплаты</label>
                    <source_model>PortmonePayment\Portmone\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="payment_notify" translate="label" type="select" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Уведомлять пользователей о результате оплаты по email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payment_success_message" translate="label" type="text" sortOrder="82" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Сообщение об успешной оплате</label>
                </field>
                <field id="payment_error_message" translate="label" type="text" sortOrder="83" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Сообщение об неудачной оплате</label>
                </field>
                <field id="allowed_carrier" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Допустимые методы доставки</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Платежи из применимых стран</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Платежи из определенных стран</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="instructions" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Комментарий для клиента</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Порядок сортировки</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>
